
<%= simple_form_for(@yair, :html => {:multipart => true }) do |f| %>

  <% if @yair.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @yair.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
 
 
  <p>
    <%= f.label :party %><br>
    <%= f.text_field :party %>
  </p>
 
  <p>
    <%= f.label :field %><br>
    <%= f.text_field :field %>
  </p>
  
  <p>
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                yairs_path, :class => 'btn btn-default' %>
  </p>

<% end %>