<table class="table table-striped">
  <tbody>
    <% @yairs.each do |yair| %>
      <tr>
        <td><%= image_tag yair.social_media_accounts.first.photo.url(:thumb) %></td>
        <td><%= link_to yair.name, yair_path(yair) %></td>
        <td><%= yair.party %></td>
        <td><%= yair.field %></td>
        
        <% if current_user %> 
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_yair_path(yair), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        yair_path(yair),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>