<% content_for :head do %>
  <meta property="og:title"           content="<%= t params[:field] %> - להד&quot;ם" />
  <meta property="og:site_name"       content="להד&quot;ם" />
  <meta property="og:description"     content="כל המחיקות של הפוליטיקאים בפייסבוק" />
  <meta property="og:image"           content="<%= image_url 'reps.jpg' %>" />
<% end %>

<%= content_for :title do %>
<%= t params[:field] %> - להד&quot;ם
<% end %>

<h2 class="title"><%= t params[:field] %></h2>

<% arr = ['א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ז', 'ח', 'ט', 'י', 'כ', 'ל', 'מ', 'נ', 'ס', 'ע', 'פ', 'צ', 'ק', 'ר', 'ש', 'ת'] %>
<% arr.each do |letter| %>
  <%= link_to letter.to_s, "/#{params[:field]}/byletter/#{letter}", class: "letters-link" %>
<% end %>

<div class="col-md-pull-12">
	<%= render @yair %>
	<%= will_paginate @yair, renderer: BootstrapPagination::Rails %>
</div>
