
<div class="page-header">
  <h1>Yairs</h1>
</div>

<%= form_tag yairs_path, method: "get" do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<br>

<%# ('A'..'Z').each do |letter| %>

<% arr = ['א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ז', 'ח', 'ט', 'י', 'כ', 'ל', 'מ', 'נ', 'ס', 'ע', 'פ', 'צ', 'ק', 'ר', 'ש', 'ת'] %>
<% arr.each do |letter| %>
  <%= link_to letter.to_s, "/byletter/#{letter}" %>
<% end %>

<br><br><br>

<%= render 'table' %>

<% if current_user %>
  <%= link_to 'new', new_yair_path, :class => 'btn btn-primary' %>
<% end %>

<br><br><br><br>
