<p>
  <strong>Name:</strong>
  <%= @yair.name %>
</p>
 
<p>
  <strong>Party:</strong>
  <%= @yair.party %>
</p>

<p>
  <strong>Field:</strong>
  <%= @yair.field %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @yair.photo.url(:thumb) %>
</p>

<br>

<h2>Posts:</h2>
<%= render @yair.posts %>
<br>

<h2>Add a post:</h2>
<%= render "posts/form" %>

<br>

<%= link_to 'Back', yairs_path %>
<%= link_to 'Edit', edit_yair_path(@yair) %>