<% content_for :head do %>
  <meta property="og:title"           content="<%= "#{@yair.first_name} #{@yair.last_name}" %> - להד&quot;ם" />
  <meta property="og:site_name"       content="להד&quot;ם" />
  <meta property="og:description"     content="כל המחיקות של <%= "#{@yair.first_name} #{@yair.last_name}" %> בפייסבוק" />
  <meta property="og:image"           content="<%= image_url @yair.social_media_accounts.first.photo.url(:medium) %>" />
<% end %>

<%= content_for :title do %>
<%= "#{@yair.first_name} #{@yair.last_name}" %> - להד&quot;ם
<% end %>

<h2 class="title"><%= @yair. first_name %> <%= @yair. last_name %></h2>

<div class="col-xs-12">
  <div class="col-xs-8 pull-right"><%= render 'social_media_accounts/social_media_accounts' %></div>

  <div class="col-xs-1 pull-right"></div>

  <div class="col-xs-3 latest-raw-posts yair-latest-raw-posts">
    <h4 class="title-small"><%= t "latest_raw_posts" %> </h4>
    <p class="raw-small-title"> האחרונים של <%= @yair.last_name %> בפייסבוק </p>
    <%= render @latest_raw_posts %>
  </div>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              yairs_path(field: @yair.field), :class => 'btn btn-default'  %>

<script>
  $('.see_more').click(function(){
    $this = $(this)
    $this.siblings('div.truncated-post').hide()
    $this.siblings('div.full-post').show()
    $this.remove();
        });
</script>

<script>
  // Javascript to enable link to tab
  var hash = document.location.hash;
  if (hash) {
      $('.nav-pills a[href='+hash+']').tab('show');
  }

  // Change hash for page-reload
  $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash;
        });
</script>
<script>
  var dmp = new diff_match_patch();
  _.each($('.post-row.post-edited'), function (elem) {
    $el = $(elem);
    var original = $($($el.children('.post-original')).find('div.full-post'));
    var edited = $($($el.children('.post-edit')).find('div.full-post'))
    var diff = dmp.diff_main(original.text(), edited.text());
    dmp.diff_cleanupSemantic(diff);
    edited.html(dmp.diff_prettyHtml(diff));

    _.each($('.post-text.truncated-post'), function(post) {
      $post = $(post);
      $post.html($.truncate($post.siblings('.full-post').html(), {length: <%= @length || 9999 %>, words: true}));
    });
  });
</script>