<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tabAll" data-toggle="tab">כל החשבונות</a></li>
    <% @yair.social_media_accounts.each_with_index do |s, i| %>
      <li><a href=<%= "#tab#{i}" %> data-toggle="tab"><%= s.name %></a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tabAll">
      <p>פוסטים מכל החשבונות</p>
      <%= render @yair.posts %>
    </div>
    <% @yair.social_media_accounts.each_with_index do |s, i| %>
      <div class="tab-pane" id=<%= "tab#{i}" %>>
        <p>INFO ABOUT THE ACCOUNT</p>

        <%= render s.posts %>
        <br>

      </div>
    <% end %>
    
  </div>
</div>

