<div class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tabAll" data-toggle="tab"><%= t "all_accounts" %></a></li>
    <% @yair.social_media_accounts.each_with_index do |acc, i| %>
      <li><a href=<%= "#tab#{i}" %> data-toggle="tab"><%= acc.name %></a></li>
    <% end %>
  </ul>
  <hr class="tabs-line">

  <div class="tab-content">

    <div class="tab-pane active" id="tabAll">
      <p class="post-info"><%= t ("Posts_from_all_accounts") %></p>

      <div class="tabbable"> 
        <ul class="nav nav-pills">
          <li class="active"><a href="#tabEdited" data-toggle="tab"><%= t "edited_posts" %></a></li>
          <li><a href=<%= "#tabDeleted" %> data-toggle="tab"><%= t "deleted_posts" %></a></li>
        </ul>

        <br>

        <div class="tab-content">
          <div class="tab-pane active" id="tabEdited">
            <%= render @edited_posts %>
            <%= will_paginate @edited_posts, renderer: BootstrapPagination::Rails, :param_name => "edited_page" %>
          </div>
          <div class="tab-pane" id="tabDeleted">
            <%= render @deleted_posts %>
            <%= will_paginate @deleted_posts, renderer: BootstrapPagination::Rails, :param_name => "deleted_page", :params => { :anchor => 'tabDeleted' }  %>
          </div>
        </div>
      </div>

    </div>

    <% @yair.social_media_accounts.each_with_index do |acc, i| %>
      <div class="tab-pane" id=<%= "tab#{i}" %>>
        <p class="post-info"><%= acc.about %></p>
        
        <div class="tabbable"> 
          <ul class="nav nav-pills">
            <li class="active"><a href=<%="#tabEdited_#{i}"%> data-toggle="tab"><%= t "edited_posts" %></a></li>
            <li><a href=<%= "#tabDeleted_#{i}" %> data-toggle="tab"><%= t "deleted_posts" %></a></li>
          </ul>

          <br>

          <div class="tab-content">
            <div class="tab-pane active" id=<%="tabEdited_#{i}" %>>
              <%= render @acc_edited_posts[acc.id] %>
              <p>* מוצגים עד עשרה פוסטים אחרונים מהחשבון.</p>
            </div>
            <div class="tab-pane" id=<%="tabDeleted_#{i}" %>>
              <%= render @acc_deleted_posts[acc.id] %>
              <p>* מוצגים עד עשרה פוסטים אחרונים מהחשבון.</p>
            </div>
          </div>
        </div>

        <br>
      </div>
    <% end %>
    
  </div>
</div>

