<h2>Accounts:</h2>
 
<% @social_media_accounts.each do |social_media_account| %>
	<div class="social_media_account">
     	<a style="float: left;"><%= image_tag social_media_account.photo.url(:thumb) %></a>
      	<div class="social_media_account_content">
      		<div class="social_media_account_title">
	      		<a><%= social_media_account.yair.name %></a>
	      		<%= social_media_account.yair.party %>
	    	</div>
	    	<p><%= social_media_account.body %></p>
	    	<div class="social_media_account_byline">
	      		<p>social_media_accounted on <%= social_media_account.site %> at <%= social_media_account.link %></p>
	     	</div>
      	</div>
    </div>
    <br><br>
<% end %>