<h2>בחר יאיר</h2>

<%= render "yairs/search" %>

<% if @yairs %>
  <%= render @yairs %>
<% end %>

<h2>או צור יאיר חדש</h2>

<%= render "yairs/form" %>

<h2>חשבון</h2>

<%= simple_form_for(@social_media_account, :html => {:multipart => true }) do |f| %>

  <% if @social_media_account.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @social_media_account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>
 
  <p>
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                home_index_path, :class => 'btn btn-default' %>
  </p>

<% end %>