<div class="well">
  <div class="row">
    <div class="col-md-5 pull-right">
      <p><%= t 'dashboard.most_raw_posts' %></p>
      <ul class="list-group">
        <% @raw_post_counts.each do |rpc| %>
          <li class="list-group-item">
            <span class="badge"><%= rpc['count'] %></span>
            <%= rpc['name'] %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-5 pull-right">
      <p><%= t 'dashboard.latest_raw_posts' %></p>
      <ul class="list-group">
        <% @latest_raw_posts.each do |raw_post| %>
          <li class="list-group-item">
            <%= raw_post.yair.last_name %>, <%= link_to (raw_post.post['story'] || raw_post.post['message']).truncate(40), "https://www.facebook.com/#{raw_post.social_media_account.link}/posts/#{raw_post.post['id'].split('_').last}" %>
            <span class="pull-left text-muted"><%= l raw_post.timestamp.in_time_zone('Israel'), format: :short %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2><%= t 'users' %></h2>
      <p><%= t 'users.explanation' %></p>
      <p><a class="btn btn-default" href="<%= admin_users_path %>" role="button"><%= t 'edit' %> &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><%= t 'api_tokens' %></h2>
      <p><%= t 'api_tokens.explanation' %></p>
      <p><a class="btn btn-default" href="<%= admin_fb_api_tokens_path %>" role="button"><%= t 'view' %> &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><%= t 'yairs' %></h2>
      <p><%= t 'yairs.explanation' %></p>
      <p><a class="btn btn-default" href="#" role="button"><%= t 'edit' %> &raquo;</a></p>
    </div>
  </div>
</div>