<div class="jumbotron">
  <div class="container">
    <h1>Hello, admin!</h1>
    <p>What you do in here?</p>
  </div>
</div>

<div class="well">
  <div class="row">
    <div class="col-md-5 pull-right">
      <p><%= t 'dashboard.most_raw_posts' %></p>
      <ul class="list-group">
        <% @raw_post_counts.each do |rpc| %>
          <li class="list-group-item">
            <span class="badge"><%= rpc['count'] %></span>
            <%= rpc['name'] %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2><%= t 'users' %></h2>
      <p><%= t 'users.explanation' %></p>
      <p><a class="btn btn-default" href="<%= admin_users_path %>" role="button"><%= t 'edit' %> &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><%= t 'api_tokens' %></h2>
      <p><%= t 'api_tokens.explanation' %></p>
      <p><a class="btn btn-default" href="<%= admin_fb_api_tokens_path %>" role="button"><%= t 'view' %> &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><%= t 'yairs' %></h2>
      <p><%= t 'yairs.explanation' %></p>
      <p><a class="btn btn-default" href="#" role="button"><%= t 'edit' %> &raquo;</a></p>
    </div>
  </div>
</div>