<h1><%= t "fb_api_tokens" %></h1>

<table class="table table-striped table-hover">
  <th>
    <td><%= t 'fb_api_token.token' %></td>
    <td><%= t 'fb_api_token.expires' %></td>
    <td><%= t 'fb_api_token.purpose' %></td>
    <td></td>
    <td></td>
  </th>
  <% @fb_api_tokens.each do |fb_api_token| %>
    <tr>
      <td><%= fb_api_token.token.truncate 20 %></td>
      <td><%= l fb_api_token.expires %></td>
      <td><%= fb_api_token.purpose %></td>
      <td><%= link_to t('.view'), admin_fb_api_token_path(fb_api_token) %></td>
      <td><%= link_to t('.destroy', default: t("helpers.links.destroy")), admin_fb_api_token_path(fb_api_token),
                    method: :delete, data: { confirm: 'Are you sure?' }, html: {class: 'btn btn-danger'} %></td></td>
    </tr>
  <% end %>
</table>

  <br/>
  <hr/>

  <h4><%= t('fb_api_token.new', :default => t("helpers.links.new")) %></h4>

  <%= form_tag admin_facebook_login_flow_path, method: :get, html: {class: 'form form-inline'} do %>
    <div class="input-group">
      <%= label :fb_api_token, :facebook_application %>
      <%= select_tag :facebook_application_id, options_for_select(Admin::FacebookApplication.all.map{ |app| [app.name, app.id] }) %>
    <button type="submit" class="btn btn-default"><%= t 'submit' %></button>
  <% end %>

  <hr/>

  <%= form_for [:admin, @fb_api_token], html: {class: 'form form-inline'} do |f| %>
    <div class="input-group">
      <%= f.label :token %>
      <%= f.text_field :token %>
    <button type="submit" class="btn btn-default"><%= t 'submit' %></button>
  <% end %>
