<%= form_tag search_path, method: "get" do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag (t "search"), name: nil %>
<% end %>

<br>

<% if @yairs %>
	<%= render "yairs/table" %>
<% else %>

	<div class="tabbable"> 
    <ul class="nav nav-pills">
      <li class="active"><a href=<%="#tabDeleted"%> data-toggle="tab"><%= t "deleted" %></a></li>
      <li><a href=<%= "#tabEdited" %> data-toggle="tab"><%= "edited" %></a></li>
    </ul>

    <br>

    <div class="tab-content">
      <div class="tab-pane active" id=<%="tabDeleted" %>>
        <%= render @posts.where(status: "deleted") %>
        <%= will_paginate @posts.where(status: "deleted"), renderer: BootstrapPagination::Rails %>
      </div>
      <div class="tab-pane" id=<%="tabEdited" %>>
        <%= render @posts.where(status: "edited") %>
        <%= will_paginate @posts.where(status: "edited"), renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
<% end %>

