<% content_for :head do %>
  <meta property="og:url"             content="http://lahadam.co.il" />
  <meta property="og:title"           content="להד&quot;ם" />
  <meta property="og:site_name"       content="להד&quot;ם" />
  <meta property="og:description"     content="כל המחיקות של הפוליטיקאים בפייסבוק" />
  <meta property="og:image"           content="<%= image_url 'fb-share-knesset.jpg' %>" />
<% end %>

<% if @yairs %>
  <h2 class="title"><%= t ("search_results") %></h2>
	<%= render @yairs %>
<% else %>

<div class="col-xs-3 latest-raw-posts">
  <h4 class="title-small"><%= t "latest_raw_posts" %> </h4>
  <p class="raw-small-title"><%= t "on_facebook_now" %> </p>
  <%= render @latest_raw_posts %>
</div>
<div class="col-xs-1"></div>
<div class="col-xs-8">

  <h2 class="title"><%= t "latest_posts" %></h2>
  
	<div class="tabbable"> 
    <ul class="nav nav-pills">
      <li class="active"><a href="#tabEdited" data-toggle="tab"><%= t "edited_posts" %></a></li>
      <li><a href="#tabDeleted" data-toggle="tab"><%= t "deleted_posts" %></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tabEdited">
        <div class="test">*בפוסטים שנערכו תוכלו לראות </div>
        <div class="edited-red-explained">באדום את כל מה שנמחק</div>
        <div class="edited-green-explained">ובירוק את כל מה שהוסף</div>
        <br><br>
        <%= render @edited_posts %>
        <%= will_paginate @edited_posts, renderer: BootstrapPagination::Rails, :param_name => "edited_page" %>
      </div>
      <div class="tab-pane" id="tabDeleted">
        <%= render @deleted_posts %>
        <%= will_paginate @deleted_posts, renderer: BootstrapPagination::Rails, :param_name => "deleted_page", :params => { :anchor => 'tabDeleted' }  %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $('.see_more').click(function(){
    $this = $(this)
    $this.siblings('div.truncated-post').hide()
    $this.siblings('div.full-post').show()
    $this.remove();
        });
</script>

<script>
  // Javascript to enable link to tab
  var hash = document.location.hash;
  if (hash) {
      $('.nav-pills a[href='+hash+']').tab('show');
  }

  // Change hash for page-reload
  $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash;
        });
</script>

<script>
  var dmp = new diff_match_patch();
  _.each($('.post-row.post-edited'), function (elem) {
    $el = $(elem);
    var original = $($($el.children('.post-original')).find('div.full-post'));
    var edited = $($($el.children('.post-edit')).find('div.full-post'))
    var diff = dmp.diff_main(original.text(), edited.text());
    dmp.diff_cleanupSemantic(diff);
    edited.html(dmp.diff_prettyHtml(diff));

    _.each($('.post-text.truncated-post'), function(post) {
      $post = $(post);
      $post.html($.truncate($post.siblings('.full-post').html(), {length: <%= @length || 9999 %>, words: true}));
    });
  });
</script>
