<div align="center">
  <h3>שלחו לנו הודעה</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div>
      </br>
      <%= f.button :submit, 'שלח', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>