
<div class="row">
  <div class="col-md-10">
    
    <div class="col-md-4"><%= post.yair.party %></div>
    <div class="col-md-4"><%= link_to post.yair.last_name, yair_path(post.yair)%></div>
    <% if post.yair.first_name %>
      <div class="col-md-4"><%= link_to post.yair.first_name, yair_path(post.yair) %></div>
    <% end %>

    <div class="col-md-12"><%= truncate(post.body, length: 200) %></div>

    <% if post.raw_post.attachment_content_type == "image/jpeg" %>
      <div class="col-md-12"><%= image_tag post.raw_post.attachment.url, :height => "230" %></div>
    <% elsif post.raw_post.attachment_content_type == "video/mp4" %>    
      <div class="col-md-12"><%= video_tag post.raw_post.attachment.url, :controls => true %></div>
    <% end %>

    <div class="col-md-12">Posted on <%= post.social_media_account.site %> at <%= post.raw_post.timestamp %> status <%= post.status %></div>
  </div>

  <div class="col-md-2"><%= image_tag post.social_media_account.photo.url(:thumb) %></div>
</div>

<br>

<% if current_user %>
  <%= link_to 'Delete post', [post.yair, post],
           method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>



