<div class="row">
	<div class="col-md-9">
  		<div class="col-md-3"><%= post.yair.party %></div>
  		<div class="col-md-3"><%= post.yair.last_name %></div>
  		<div class="col-md-3"><%= post.yair.first_name %></div>

	  	<div class="col-md-9"><%= post.body %></div>
	  	<div class="col-md-9">Posted on <%= post.social_media_account.site %> at <%= post.created_at %> for <%= post.duration %></div>
	</div>
  	<div class="col-md-3"><%= image_tag post.social_media_account.photo.url(:thumb) %></div>
</div>

<br>

<% if current_user %>
  <%= link_to 'Delete post', [post.yair, post],
           method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>



