<h2>Latest Posts</h2>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-3 photo"><%= image_tag post.social_media_account.photo.url(:thumb) %></div>
    <div class="post_content">
      <div class="post_title">
        <div class="col-md-1"><%= post.yair.first_name %></div>
        <div class="col-md-1"><%= post.yair.last_name %></div>
        <div class="col-md-7"><%= post.yair.party %></div>
      </div>
      <div class="col-md-9"><%= post.body %></div>		    	
      <div class="col-md-9 post_byline">
        <p>Posted on <%= post.social_media_account.site %> at <%= post.timestamp %> for <%= post.duration %></p>
      </div>
    </div>
  </div>
  <br>
<% end %>


<%= will_paginate @posts %>
