<h2>Latest Posts</h2>

<table class="table table-striped">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="photo"><%= image_tag post.yair.photo.url(:thumb) %></td>
        <div class="post_content">
      		<div class="post_title">
        		<td><%= post.yair.name %></td>
        		<td><%= post.yair.party %></td>
        	</div>
			<td><%= post.body %></td>		    	
			<div class="post_byline">
				<td>Posted on <%= post.social_media_account.site %> at <%= post.timestamp %> for <%= post.duration %></td>
			</div>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts %>
