<row>
	<div class="col-md-3"></div>
	<div class="col-md-7 about">
		<h3 class="about-titles"><%= t "what_is_lahadam" %></h3>

		<p> להד״ם הוא ארכיון של כל הפוסטים שהפוליטיקאים מוחקים בפייסבוק. </p>
		<p> בכל רגע שבו פוליטיקאי עורך או מוחק פוסט בפייסבוק הפוסט מיד מוצג בלהד״ם. </p>
		<p> בנוסף, תוכלו למצוא אצלנו נתונים וסטטיסטיקות של התנהגות הפוליטיקאים בפייסבוק. </p>
		<br>
		<p> קיבלנו את הרעיון לאתר מהאתר <%= link_to "politwoops.nl", "http://blog.politwoops.com/", :target => "_blank" %> , אתר הולנדי שמעלה את הטוויטים המחוקים של הפוליטיקאים. </p>
		<p> לאתר ההולנדי יש כבר עשרות אחים ברחבי העולם. </p>
		<p> מיד ידענו שגם לישראל מגיע והקמנו את להד״ם. </p>
		<p> בעקבות הפופלריות בארץ התחלנו מפייסבוק. בקרוב נעלה גם מידע מטוויטר. </p>

		<h3 class="about-titles"><%= t "bit_about" %></h3>

		<p>הקמנו את האתר מתוך אהבה לשקיפות, ביוזמה אישית שלנו וללא מימון.</p>

		<div class="col-md-12 about-ppl-box">
			<div class="col-md-3 pull-right about-img-div"><%= image_tag 'j.jpg', size: '120x120', class: "about-img" %></div>
			<div class="col-md-9 about-ppl"><p class="about-names">יונתן רונן</p>
				<p>חוקר רשתות חברתיות ואלגוריתמיקאי במחלקה למדעי המדינה באוניברסיטת NYU בניו יורק. בעל תואר שני בהנדסת חשמל.</p></div>
		</div>

		<div class="col-md-12 about-ppl-box">
			<div class="col-md-3 pull-right about-img-div"><%= image_tag 'ella.jpg', size: '120x120', class: "about-img" %></div>
			<div class="col-md-9 about-ppl"><p class="about-names">אלה בחרי</p> 
				<p>מפתחת רשת. בעלת תואר שני במדעי המח עם נסיון באלגוריתמים לניתוח סריקות מח (אוניברסיטת NYU/אוניברסיטת מינכן).</p></div>
		</div>

		<h3 class="about-titles"><%= t "contact" %></h3>

		<p> להד״ם הוא קוד פתוח. </p>
		<br>

		<p> אנחנו עדיין בהרצה. </p>
		<p> נשמח לקבל כל הצעה, בקשה או תיקון. </p>
		<p> אם יש נתונים שישפרו את האתר, פוליטקאים שחסרים לנו, או כל מידע אחר: </p>
		<a href="mailto:bellonet@gmail.com"> פשוט שלחו לנו הודעה. </a>
	</div>
	<div class="col-md-2"></div>
</row>