<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t("lahadam") %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <img style="position: absolute; z-index:9999; top: 0; left: 0; border: 0;" src="<%= image_path 'beta_ribbon.png' %>" alt="Beta">

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%#= link_to "Lahadam", root_path %>
        <a class="navbar-brand pull-right" href="/"><img src="<%= image_path 'lahadam.png' %>"></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to (t "representatives"), yairs_path(field: 'representatives'), {style: "color: #0e1f5b"} %></li>
            <li><%= link_to (t "figures"), yairs_path(field: 'figures'), {style: "color: #0e1f5b"} %></li>
            <li><%= link_to (t "stats"), stats_index_path, {style: "color: #0e1f5b"} %></li>
            <li><%= link_to (t "about"), about_index_path, {style: "color: #0e1f5b"} %></li>
            <li>        
              <div class="input-group" style="padding: 6px 120px 0px 0px">
                <%= form_tag search_path, method: "get", :class => "form-inline" do %>
                  <span class="input-group-btn">
                    <%= text_field_tag :search, params[:search], class: "form-control" %>
                    <%= submit_tag (t "search"), class: "btn btn-default", name: nil %>
                  </span>
                <% end %>
              </div></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <br>

    <div class="footer navbar-default navbar-static-bottom">
      <div class="container">
        <div id="user_footer">
          <%= link_to t('admin'), admin_root_path %>
        </div>
      </div>
    </div>

    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59047118-1', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>

  </body>
</html>
